# dependencies
node_modules/

# next build
.next/

#vscode
.vscode/

# env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# docker (optional)
docker-data/
volumes/

# OS
.DS_Store
Thumbs.db